body {
    font-family: monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(to right, #141e30, #243b55);
    color: #fff;
    margin: 0;
}

#quiz-container {
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    width: 300px;
    padding: 20px;
    text-align: center;
    backdrop-filter: blur(10px);
}

.btn-container {
    display: flex;
    flex-direction: column;
}

button {
    font-family: monospace;
    margin-top: 10px;
    padding: 10px;
    background-color: #2e8ca7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #6845a0;
}

button:disabled {
    background-color: #52cedc;
    cursor: not-allowed;
}

.correct {
    background-color: #4CAF50;
}

.wrong {
    background-color: #f44336;
}

.hide {
    display: none;
}

#question {
    font-size: 18px;
    margin-bottom: 20px;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1800b3;
}
